<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date createdAt}}</p>
</div>

{{#each comments as |comment| }}
<div>
  <h2>Comments:</h2>
  <p>{{comment.description}}</p>
  <p>Commented by {{comment.user.name}} on {{format_date comment.createdAt}}</p>
</div>
{{/each}}

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Comment:</h3>

    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment-desc">Comment:</label>
        <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Comment</button>
      </div>
    </form>
  </div>

  <script src="/js/comment.js"></script>